*.py[cod]
*.log
*.dll
*.lib
*.exe
# *.so
*.pid
.DS_Store
/.env
celerybeat-schedule
/.idea
Thumbs.db
__pycache__
/__pycache__
__pycache__/
media/
django_cache
/venv/
/.venv/
settings_local.py
config.py
ratu/sanding.py
/.vscode/
unzipped_xml
source_data
download
*.zip
db.sqlite3
/export/
logfile
django.mo
/save_points/
