{% extends "users/emails/_base.html" %}

{% block content %}

    <p>Дякуємо за реєстрацію у системі Data Ocean.</p>
    <br>
    <p><b><a href="{{ site_url }}">Data Ocean</a></b> — провайдер зручного доступу до відкритих даних.</p>
    <p>Ми розробляємо спеціальний сервіс, де Ви зможете</p>
    <p>отримати доступ до всіх важливих та існуючих регістрів, даних та звітностей.</p>
    <br>
    <p>Якщо у Вас з'явились питання або пропозиції, зв'яжіться з нами <a href="mailto:{{ support_email }}">{{ support_email }}</a>.</p>
    <p>Будемо раді співпрацювати з Вами. Запевняємо, що наша співпраця буде плідною!</p>
    <br><hr>
    <p>З повагою, <b>Data Ocean</b></p>

{% endblock content %}
