@page {
    size: A4;
    margin: 1cm;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    font-size: 16px;
    color: black;
}

.tr {
    text-align: right !important;
}
.tl {
    text-align: left !important;
}
.tc {
    text-align: center !important;
}
.b-0{
    border-width: 0 !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mt-15{
    margin-top: 15px !important;
}

.parties {
    font-size: 11px;
    width: 100%;
    margin-bottom: 30px;
}

.parties th, .parties td {
    padding-bottom: 10px;
    border: 0;
    vertical-align: top;
}

.parties th {
    padding-right: 5px;
    font-weight: bold;
    text-decoration: underline;
}

.parties td {
    text-align: left;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #333333;
    margin-bottom: 15px;
}

.items {
    font-size: 10px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 30px;
}

.items th, .items td{
    border: 1px solid #848484;
}
.items th{
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    color: #333;
    padding: 5px;
    background-color: #F3F3F3;
}
.items td{
    padding: 5px 5px;
}

.amount-words {
    font-size: 11px;
}

.expire {
    font-size: 11px;
    width: 42%;
    float: right;
}

.paid {
    margin-top: 60px;
    width: 220px;
    border: 4px solid #1C3FAA;
    padding: 20px;

    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #1C3FAA;
}

