{% extends "data_ocean/emails/_base.html" %}

{% block content %}
  <p style="font-family: Roboto;font-weight: normal;font-size: 16px;line-height: 24px;margin-bottom: 30px;">
    <br>
      <b>Should complete count:</b> <br>{{ should_complete_count }}<br>
    <br>
      <b>Should complete:</b> <br>{{ should_complete|safe }}<br>
    <br>
      <b>Was overdue count:</b> <br>{{ was_overdue_count }}<br>
    <br>
      <b>Was overdue:</b> <br>{{ was_overdue|safe }}<br>
    <br>
      <b>Was overdue grace period count:</b> <br>{{ was_overdue_grace_period_count }}<br>
    <br>
      <b>Was overdue grace period:</b> <br>{{ was_overdue_grace_period|safe }}<br>
      <br>
      <b>Was complete count:</b> <br>{{ was_complete_count }}<br>
    <br>
      <b>Was complete:</b> <br>{{ was_complete|safe }}<br>
    <br>
  </p>
{% endblock content %}
