{% extends "data_ocean/emails/_base.html" %}

{% block content %}

  <p style="font-family: Roboto;font-weight: normal;font-size: 16px;line-height: 24px;margin-bottom: 30px;">
    {% include "data_ocean/emails/hi_there.html" with first_name=user.first_name %}
    <br>
    <br>
    за умовами Вашого тарифного плану,
    сьогодні потрібно здійснити оплату за проєкт {{ project.name }}.
    У вкладенні Ви знайдете рахунок.
    Ви завжди можете змінити тарифний план згідно Ваших потреб.
  </p>
{% endblock content %}
