{% extends "data_ocean/emails/_base.html" %}

{% block content %}

    <p style="font-family: Roboto;font-weight: normal;font-size: 16px;line-height: 24px;margin-bottom: 30px;"> Вітаємо!
        <br>
        <br>
        {{ user.first_name }}, Ви успішно підключені та отримали доступ до токену проєкту у Вашому профілі на
        <a href="{{ link }}">Data Platform</a>.
    </p>
    <p style="font-family: Roboto;font-weight: normal;font-size: 16px;line-height: 24px;">З повагою, <br>Data Ocean</p>
{% endblock content %}
