{% extends "data_ocean/emails/_base.html" %}
{% load i18n %}

{% block content %}

  <p style="font-family: Roboto;font-weight: normal;font-size: 16px;line-height: 24px;margin-bottom: 30px;">
    {% include "data_ocean/emails/hi_there.html" with first_name=user.first_name %}
    <br>
    <br>
    {% blocktrans with project=project.name trimmed %}
      You have not paid the bill. Tomorrow is the last day of payment.
      After that, your project "{{ project }}" will be presented with a free subscription.
    {% endblocktrans %}
    <br>
    <br>
    {% trans '(invoice attached)' %}
  </p>
{% endblock content %}
