{% block content %}
    <p style="font-family: Roboto;font-weight: normal;font-size: 16px;line-height: 24px;margin-bottom: 30px;">

        <tr>
            Всього спроб оновлення реєстрів: {{ reports|length }}.

        </tr>
        <tr>
            {% for report in reports %}
                {% if report.long_time_converter %}
                    {% if not report.download_status %}
                        Під час оновлення {{ report.registry_name }} виникла проблема: "{{ report.download_message }}".
                    {% elif not report.unzip_status %}
                        Під час оновлення {{ report.registry_name }} виникла проблема: "{{ report.unzip_message }}".
                    {% elif not report.update_status %}
                        Під час оновлення {{ report.registry_name }} виникла проблема: "{{ report.update_message }}".
                    {% endif %}
                {% elif not report.update_status %}
                    Під час оновлення {{ report.registry_name }} виникла проблема: "{{ report.update_message }}".
                {% endif %}
            {% endfor %}
        </tr>
    <table border="1px" style="border-collapse: collapse">
        <thead>
        <tr>
            <th>Назва реєстру</th>
            <th>Оновлено успішно</th>
            <th>Тривало з</th>
            <th>До</th>
            <th>Додано записів</th>
            <th>Змінено</th>
            <th>Видалено</th>
            <th>Не розпізнано</th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                {% if report.long_time_converter %}
                    <td>{{ report.registry_name }}</td>
                    {% if report.update_finish %}
                        <td>{{ report.update_status }}</td>
                    {% elif report.unzip_status %}
                        <td>In progress</td>
                    {% else %}
                        <td>{{ report.update_status }}</td>
                    {% endif %}
                    <td>{{ report.created_at }} </td>
                    {% if not report.update_finish and report.unzip_status %}
                        <td>In progress</td>
                    {% else %}
                        <td>{{ report.updated_at }} </td>
                    {% endif %}
                {% else %}
                    <td>{{ report.registry_name }}</td>
                    <td>{{ report.update_status }}</td>
                    <td>{{ report.created_at }} </td>
                    <td>{{ report.updated_at }} </td>
                {% endif %}
                <td>{{ report.records_added }} </td>
                <td>{{ report.records_changed }} </td>
                <td>{{ report.records_deleted }} </td>
                <td>{{ report.invalid_data }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </p>
{% endblock content %}
