{% load socialaccount %}
<html lang="uk">
  <head>
    <title>Google Registration</title>
  </head>
  <body>
  <h1>My Google Login Project</h1>

  {% if user.is_authenticated %}
    <p>Welcome, {{ user.first_name }} {{ user.last_name }} ({{ user.email }})!</p>
  {% else %}
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
  {% endif %}

  </body>
</html>


{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}